/*
font info:
    family - Helvetica, Arial, sans-serif
    line-height - 1.6


colors:
    light gray - ##eee
    gray - #dddddd
    yellow - #ffd24a
    orange - #ff8523
    blue - #1fabe5
    dark blue - #046c97
*/
 
* {
    font-family: Arial, Helvetica, sans-serif;
}

#site_header {
    background-color: #ff8523
}

.main_navigation > a{
    border: 1px solid white;
    border-radius: 3px round;
    border-style: solid;
    

}

h2 {
    color: #1fabe5;
}


p a {
    color: #1fabe5;
}

p2 {
    
}

